.customers {
     width: 100%;
     height: auto;
     color: #fff;

}

.customers-wrap {
     height: 700px;
     background: url('../../assets/images/Home-image/customers-bg.jpg') no-repeat center;
     background-size: cover;
     display: flex;
     align-items: center;
     padding: 20px;
}

.customers-element {
     max-width: 1140px;
     width: 100%;
     margin: 0px auto;
}

.customersBox_l,
.customersBox_r {
     width: 50%;
}

.customersBox_l .box-head {
     width: 470px;
}

.customersBox_l .box-head h3 {
     font-weight: 500;
     font-size: var(--md-2-font-size);
     margin-top: 15px;
}

.customersBox_l .box-body {
     width: 100%;
}

.customersBox_l .box-body img {
     display: block;
     width: 400px;
     margin: auto;
}

.customersBox_r .title {
     font-weight: 500;
     font-size: 24px;
     margin-bottom: 15px;
}

.customersBox_r ul {
     margin-top: 20px;
}

.customersBox_r ul li {
     margin-left: 50px;
     line-height: 30px;
     font-size: var(--sm-font-size);
     font-weight: 400;
}

.customers .card-wrap {
     max-width: 1140px;
     width: 100%;
     margin: 0px auto;
     padding: 0 15px;
}

.home-customers-card {
     height: auto;
     width: 100%;
     margin: 50px auto;
     background: url('../../assets/images/Home-image/customers-card1.png') no-repeat center;
     background-size: cover;
     padding: 40px;

}

.home-customers-card:nth-child(2) {
     background: url('../../assets/images/Home-image/customers-card2.png') no-repeat center;
}

.home-customers-card:nth-child(3) {
     background: url('../../assets/images/Home-image/customers-card.png') no-repeat center;
}

.home-customers-card .title {
     font-size: 32px;
     font-weight: 500;
     margin-bottom: 20px;
}

.customers-card-head {
     width: 60%;
}

.home-customers-card ul li {
     font-size: var(--sm-font-size);
     margin-left: 30px;
     line-height: 30px;
}

.customers-card-btn {
     width: 235px;
     height: 40px;
     background-color: #FFF;
     border-radius: 10px;
     margin-top: 20px;
}

.customers-card-btn a {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--dark-color);
     font-weight: 500;
}

@media only screen and (max-width: 990px) {
     .customers-wrap {
          height: auto;

     }

     .customers .element-container {
          flex-direction: column;
          align-items: center;
     }

     .customersBox_l .box-head,
     .customersBox_r .title {
          text-align: center;
     }

     .customersBox_l,
     .customersBox_r ,
     .customersBox_l .box-head{
          width: 100%;
     }
}

@media only screen and (max-width: 880px) {
     .home-customers-card,
     .home-customers-card:nth-child(2),
     .home-customers-card:nth-child(3) {
          background: linear-gradient(270deg, #071927 0%, #045EB0 0.01%, #03101C 122.33%);
          border-radius: 8px;
     }
     .customers-card-head {
          width: 100%;
     }
}
@media only screen and (max-width: 500px){
     .customersBox_l .box-head h3 {
          font-size: 20px;
     }
     .customersBox_l .box-body img {
          width: 280px;
     }
     .customersBox_r .title {
          font-size: 20px;
     }
     .home-customers-card .title {
          font-size: 24px;
     }
     .customersBox_r ul li,
     .home-customers-card ul li{
          font-size: 12px;
          line-height: 23px;
     }
     .home-customers-card{
          padding: 20px;
     }
     .customers-card-btn {
          width: 190px;
          height: 35px;
          border-radius: 5px;
     }
     .customers-card-btn a{
          font-size: 13px;
     }
}