.home-main {
  width: 100%;
  height: auto;
  background: url("../../assets/images/Home-image/main-bg.gif") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 70px 20px;
}
.main-element {
  max-width: 1140px;
  margin: 25px auto;
  
}
.main-text-box {
  width: 60%;
  height: 100%;
}
.main-text-box .text-box-header h1 {
  font-size: 64px;
  font-weight: 600;
}
.main-text-box .text-box-header h2 {
  font-size: var(--md-font-size);
  line-height: 30px;
  font-weight: 500;
  margin: 24px 0;
}
.main-text-box .text-box-button {
  background: linear-gradient(180deg, #f08200 0%, #f0ca00 100%);
  border-radius: 10px;
  width: 250px;
  height: 50px;
  transition: 0.2s;
 
}
.main-text-box .text-box-button:hover{
     transform: scale(0.9);
}
.main-text-box .text-box-button a{
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: var(--md-font-size);
     font-weight: 500;
     color: var( --dark-color);
     width: 100%;
     height: 100%;
}

.main-image-box{
     width: 45%;
     display: flex;
     justify-content: center;
     align-items: start;
}
.main-image-box img{
     width: 450px;
}


.main-widget{
     margin-top: 100px;
     padding: 0px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 40px 0px;
}
.main-widget-box{
     width: 255px;
}
.main-widget-box .title h3{
     font-size: var(--md-2-font-size);
     font-weight: 500;

}
.main-widget-box .desc p{
     font-size: var(--sm-font-size);
     
}
.main-widget .line-top,
.main-widget .line-bottom{
     position: absolute;
}
.main-widget .line-top img,
.main-widget .line-bottom img{
    width: 1000px;
}
.main-widget .line-top{
     left: 0;
     margin-top: -45px;
}
.main-widget .line-bottom{
     right: 0;
     margin-top: 110px;
}

@media only screen and (max-width: 1060px){
     .main-widget .line-top,
     .main-widget .line-bottom{
         display: none;
     }
}
@media only screen and (max-width: 980px){
     .main-element .element-container{
          flex-direction: column;
          align-items: center;
     }
     .main-text-box {
          width: 100%;
          height: auto;
          text-align: center;
     }
     .main-text-box .text-box-button{
          margin: 30px auto;
     }
     .main-text-box .text-box-header h1{
          margin-bottom: 20px;
     }
     .main-widget{
          align-items: center;
          justify-content: center;
          text-align: center;
     }
}
@media only screen and (max-width: 500px){
     .main-image-box img{
          width: 300px;
     }
     .main-text-box .text-box-header h1{
          font-size: 35px;
     }
     .main-text-box .text-box-header p{
          font-size: 12px;
          line-height: 25px;
     }
     .main-widget-box .title h3{
          font-size: var(--md-font-size);
     }
     .main-widget-box .desc p{
          font-size: 12px;
     }
     
   
}

