.homePopularIndustries {
  padding: 80px 10px;
  background-color: #fff;
  z-index: -9;
}
.homePopularIndustries_content_wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: auto;
}
.homePopularIndustries__box_l {
  width: 40%;
  position: relative;
  display: flex;
}
.homePopularIndustries__box_r {
  width: 60%;
}
.homePopularIndustries_title h3 {
  font-weight: 500;
  font-size: 36px;
}
.homePopularIndustries__box_l p {
  font-weight: 500;
  font-size: 24px;
}
.homePopularIndustries__box_l p li {
  font-size: 15px;
  margin-bottom: 10px;
}

.homePopularIndustries__box_r__cards_wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 25px;
}
.homePopularIndustries__box_r__cards_wrapp .card {
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.25);
  border-radius: 8px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}
.homePopularIndustries__box_r__cards_wrapp .card:hover {
  background: #eff2f5;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: -5px -5px 16px rgba(255, 255, 255, 0.6),
    5px 5px 16px rgba(163, 177, 198, 0.6);
  box-shadow: -5px -5px 16px rgba(255, 255, 255, 0.6),
    5px 5px 16px rgba(163, 177, 198, 0.6);
}
.homePopularIndustries__box_r__cards_wrapp .card.active {
  background: #fff;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: -5px -5px 16px rgba(255, 255, 255, 0.6),
    5px 5px 16px rgba(163, 177, 198, 0.6);
  box-shadow: -5px -5px 16px rgba(255, 255, 255, 0.6),
    5px 5px 16px rgba(163, 177, 198, 0.6);
}
.homePopularIndustries__box_r__cards_wrapp .card img {
  width: 70px;
}
.homePopularIndustries__box_r__cards_wrapp .card p {
  font-size: 11px;
  text-align: center;
}
.homePopularIndustries__box_l .modal_content {
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  padding: 20px;
  text-align: start;
}
.modal_content .modal_icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .homePopularIndustries__box_l p li {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .homePopularIndustries {
    padding: 30px 10px;
  }
  .homePopularIndustries_title h3 {
    text-align: center;
    font-size: 22px;
  }
  .homePopularIndustries_content_wrapp {
    flex-direction: column;
    gap: 30px;
  }
  .homePopularIndustries__box_l,
  .homePopularIndustries__box_r {
    width: 100%;
    text-align: center;
  }
  .homePopularIndustries__box_l .modal_content {
    height: 400px;
  }

  .homePopularIndustries__box_r__cards_wrapp .card {
    width: 80px;
    height: 90px;
  }
  .homePopularIndustries__box_r__cards_wrapp .card img {
    width: 30px;
  }
  .homePopularIndustries__box_r__cards_wrapp .card p {
    font-size: 7px;
  }
  .homePopularIndustries__box_l p {
    font-weight: 500;
    font-size: 15px;
  }
  .modal_content .modal_icon {
    display: block;
  }
}
@media only screen and (max-width: 625px) {
  .homePopularIndustries__box_l .modal_content {
    height: 500px;
    align-items: start;
    padding-top: 100px;
    background: #fff;
    text-align: start;
  }
}
@media only screen and (max-width: 415px) {
  .homePopularIndustries__box_l .modal_content {
    height: 650px;
    text-align: start;
  }
}
