.navbar {
  z-index: 99;
  position: relative;
}
.navbar-element {
  max-width: 1140px;
  margin: 25px auto;
}
.element-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.element-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img {
  width: 220px;
}
.navbar .nav-link-box .nav-menu {
  display: flex;
  transition: 0.3s;
}

.menu-bars {
  margin: 0px auto;
  display: none;
  cursor: pointer;
}
.menu-bars .toggle-icon {
  font-size: 23px;
}
.nav-link-box .nav-menu .nav-link {
  padding: 15px;
  font-size: var(--sm-font-size);
  font-weight: 600;
  color: var(--dark-color);
  list-style: none;
}
.nav-menu .nav-link a {
  color: var(--dark-color);
  display: flex;
  align-items: center;
  height: 25px;
  /* width: 25%; */
}
.nav-menu .nav-link a:hover {
  color: #969696;
}
.navbar .dropdown-icon {
  font-size: 25px;
}

.language {
  display: flex;
  justify-content: space-between;
}
.language img {
  width: 30px;
  margin: 2px;
  cursor: pointer;
}
.navbar .contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  background-color: #f08200;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  transition: 0.2s;
}
.navbar .contact-btn:hover {
  transform: scale(0.9);
}
.navbar .contact-btn a {
  color: #fff;
}
.navbar .dropdown-menu {
  position: absolute;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 0px;
  width: 210px;
  -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: none;
  height: auto;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.navbar .dropdown-menu.active {
  display: flex;
}
.navbar .dropdown-menu.no_active {
  display: none;
}
.dropdown-box:hover .dropdown-menu {
  display: flex;
}

.navbar .dropdown-menu:nth-child(1) {
  border: none;
  background-color: #f08200;
}
.navbar .dropdown-menu li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top: 1px solid #c4c4c4;
}
.dropdown-menu li:first-child {
  border: none;
}
.navbar .dropdown-menu li a {
  font-weight: 500;

  font-size: var(--sm-font-size);
  width: 100%;
  margin-left: 20px;
}
.slider_nav .swiper {
  width: 100%;
  height: 100%;
}

.slider_nav .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__slider-slide {
  -webkit-box-shadow: -4px -4px 16px rgba(163, 177, 198, 0.3),
    6px 6px 16px rgba(163, 177, 198, 0.6),
    -6px -6px 16px rgba(255, 255, 255, 0.6);
  box-shadow: -4px -4px 16px rgba(163, 177, 198, 0.3),
    6px 6px 16px rgba(163, 177, 198, 0.6),
    -6px -6px 16px rgba(255, 255, 255, 0.6);
  border-radius: 20px 100px 20px 20px;
  padding: 30px;
  width: 300px;
  margin: 20px 0;
  margin-left: 20px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.intro__slide-title {
  font-style: normal;
  font-weight: 450;
  font-size: 17px;
  line-height: 200%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.intro__slide-title span {
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  -webkit-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.intro__slide-title span img {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
  object-fit: contain;
}
.intro__slide-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #ffffff;
  margin: 20px 0;
}

.intro__slide-text a {
  font-weight: 700;
  color: white;
  text-align: start;
}
.intro__slide-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 301;
}
.intro__slide-price {
  background: #ffffff;
  -webkit-box-shadow: inset 4px 4px 12px rgba(142, 155, 174, 0.6);
  box-shadow: inset 4px 4px 12px rgba(142, 155, 174, 0.6);
  border-radius: 6px;
  padding: 6px 10px;

  font-style: normal;
  font-weight: 750;
  font-size: 14px;
  line-height: 130%;
}
.intro__slide-price::after {
  content: " ₽";
  font-family: sans-serif;
}
.services__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: -o-linear-gradient(303.78deg, #dbe0e7 9.7%, #f8fbff 86.02%);
  background: linear-gradient(146.22deg, #dbe0e7 9.7%, #f8fbff 86.02%);
  -webkit-box-shadow: 4px 4px 10px rgba(59, 64, 86, 0.1);
  box-shadow: 4px 4px 10px rgba(59, 64, 86, 0.1);
  border-radius: 10px;
  margin-left: auto;
}
.services__item-btn img {
  width: 6px;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    height: auto;
  }
  .navbar .element-wrap {
    flex-direction: column;
    gap: 20px;
  }
  .navbar .dropdown-menu {
    margin-top: 130px;
  }
}
@media only screen and (max-width: 500px) {
  .navbar .dropdown-menu.active {
    display: flex;
  }
  .intro__slider-slide {
    display: flex;
  }
  .menu-bars {
    display: block;
  }
  .navbar .nav-menu {
    flex-direction: column;
  }
  .navbar .nav-link-box .nav-menu.hidden {
    display: none;
  }
  .navbar .nav-link-box {
    width: 100%;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    margin-top: 100px;
    left: 0;
    top: 0;
  }
  .navbar .nav-link {
    border-top: 1px solid #c4c4c4;
  }
  .navbar .nav-link:first-child {
    border: 0;
  }
  .navbar .dropdown-menu {
    position: relative;
    margin: 0;
    width: 100%;
    box-shadow: none;
    padding-left: 20px;
  }
  .navbar .dropdown-menu li {
    justify-content: start;
    box-shadow: none;
  }
  .nav-menu .nav-link a {
    justify-content: space-between;
  }
  .language img {
    width: 30px;
    margin: 5px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 360px) {
}
