.studio-our-partners{
     font-family: var(--secondary-font-Roboto);
     padding: 50px;
}
.studio-our-partners-wrap{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     row-gap: 30px;
}
.studio-our-partners .title{
     font-family: var(--secondary-font-Roboto);
     font-size: 25px;
     text-align: center;
     color: #7A7A7A;
     font-weight: 700;
}
.studio-our-partners-card{
     width: 250px;
     display: flex;
     align-items: center;
     justify-content: center; 
     margin-top: 50px;
}
.studio-our-partners-card img{
     width: 150px;
}
@media only screen and (max-width: 425px){
     .studio-our-partners{
          padding: 20px;
     }
     .studio-our-partners-card img{
          width: 100px;
     }
}